# Copyright (c) 2012, Code Aurora Forum. All rights reserved.
# Copyright (C) 2013, Sony Mobile Communications AB.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of Code Aurora Forum, Inc. nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
# NOTE: This file has been modified by Sony Mobile Communications AB.
# Modifications are licensed under the License.
#

import init.sony.rc

on early-init
    mkdir /firmware 0771 system system

service ril-qmi /system/bin/sh /init.qcom.ril.sh
    class main
    user root
    oneshot

on init
    export BOOTCLASSPATH ${BOOTCLASSPATH}:/system/framework/qcmediaplayer.jar:/system/framework/WfdCommon.jar:/system/framework/com.sonyericsson.uxp.jar:/system/framework/com.sonyericsson.uxpres.jar

on fs
    
    
    mkdir /mnt/idd 0755 idd idd

    # start service that shows the graphics while checking filesystem.
    start fsckwait

    mount_all fstab.qcom

    # notify the service that starts the graphics to stop.
    exec /sbin/fsckwait e

    chown idd idd /mnt/idd
    chmod 0755 /mnt/idd

    # Keeping following partitions outside fstab file. As user may not have
    # these partition flashed on the device. Failure to mount any partition in fstab file
    # results in failure to launch late-start class.

    mkdir /lta-label 0555 system system
    wait /dev/block/platform/msm_sdcc.1/by-name/LTALabel
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/LTALabel /lta-label nosuid nodev noatime noexec ro barrier=0
    chown system system /lta-label
    chmod 0555 /lta-label

    # Create a mount point on tmpfs to store modem files.
    mkdir /mnt/qcks 0700 root system
    mount tmpfs tmpfs /mnt/qcks mode=0770,uid=1000,gid=1000

    # SONY: Start the TrimArea Daemon. It must be started before fota-ua
    class_start trimarea
    exec /sbin/wait4tad_static

    # SONY: Fota must be started directly after partitions are mounted and
    # before anyone starts using the system partition (must be possible to unmount /system)
    exec /sbin/fota-ua c

    # SONY: e2fstool, containing the staticly linked fstools, and symlinks can be
    # deleted after filesystems are mounted and Fota has executed.
    exec /system/bin/rm /sbin/e2fstool
    exec /system/bin/rm /sbin/fota-mke2fs
    exec /system/bin/rm /sbin/e2fsck_static
    exec /system/bin/rm /sbin/tune2fs_static

    # SONY: remove fsckwait file after filesystems are mounted.
    exec /system/bin/rm /sbin/fsckwait

    # SONY: Start early TA-users
    exec /sbin/checkabortedflash
    exec /system/bin/mr
    exec /system/bin/wipedata
    exec /system/bin/taimport

    # SONY: install kernel hid-sony.ko
    insmod /system/lib/modules/ps3ctrl/hid-sony.ko

    # SONY: Remote storage service should be started after master reset
    # due to that the modem file system is formatted in the master reset
    start rmt_storage

on post-fs
    # Remove lost+found in user
    exec /system/bin/rm -r /data/lost+found
    mkdir /data/lost+found 0770 root root
    exec /system/bin/rm -r /cache/lost+found
    mkdir /cache/lost+found 0770 root root
    exec /system/bin/rm -r /system/lost+found
    mkdir /system/lost+found 0770 root root
    exec /system/bin/rm -r /mnt/idd/lost+found
    mkdir /mnt/idd/lost+found 0770 root root
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/system /system ro remount barrier=1
    

on early-boot
    exec /system/bin/sh /system/etc/pre_hw_config.sh

on boot
   write /sys/devices/i2c-3/3-0024/cyttsp_update_fw 1
   write /sys/devices/i2c-3/3-005b/update_fw 1
   exec /system/bin/taimport property
   
   # Install exfat module to support exfat file system
   insmod /system/lib/modules/texfat.ko





# Camera
on property:debug.camera.enable.qcamerasvr=true
   start qcamerasvr

#start camera server as daemon
service qcamerasvr /system/bin/mm-qcamera-daemon
    class late_start
    user system
    group system camera inet input graphics bluetooth net_bt_stack
# Camera
    disabled

#start GNSS/Sensor interface daemon
service gsiff_daemon /system/bin/gsiff_daemon
    class late_start
    user system
    group gps qcom_oncrpc net_raw

# SONY: TrimArea Daemon
# Last 2 args: start block(blk size 128k), number of blocks(partitionsize(kb)/128(kb))
service tad_static /sbin/tad_static /dev/block/mmcblk0 1,16
    user root
    group root
    socket tad stream 0660 system trimarea
    class trimarea

# SONY: Trim Area QMI client
# Should have the same class as qmuxd, to be sure that it will be restarted in same way
# as qmuxd if phone is encrypted. This is a workaround, because sometimes
# QMI_SYS_EVENT_MODEM_OUT_OF_SERVICE_IND is not sending if qmuxd is terminated during decryption,
# so, ta_qmi_client was not notified that connection to the TA Service on MDM is lost.
service ta_qmi_client /system/bin/ta_qmi_client
    class main
    user root

# SONY: Update MiscTA
service updatemiscta /system/bin/updatemiscta
    class main
    user root
    oneshot

service mpdecision /system/bin/mpdecision --no_sleep --avg_comp
   user root
   disabled

service rf4ce /system/bin/rf4ce
   class main
   user root
   group root

service qosmgrd /system/bin/qosmgr /system/etc/qosmgr_rules.xml
   user system
   group system
   disabled

service kickstart /system/bin/qcks l
    oneshot
    disabled

service mdm_helper /system/bin/mdm_helper
    class main
    onrestart setprop ro.service.mdm_helper_restarted "true"
    disabled

service qrngd /system/bin/qrngd -f
   class main
   user root
   group root

service qseecomd /system/bin/qseecomd
   class late_start
   user system
   group system

# Start kickstart if mdm is detected
on property:ro.baseband=mdm
    write /sys/module/rmnet_usb/parameters/rmnet_data_init 1
    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait
    symlink /mnt/qcks /data/qcks
    start kickstart

# Start up mdm_helper if sglte detected
on property:ro.baseband=sglte
    mkdir /data/misc/mdmhelperdata 0700
    start mdm_helper

# Start up mdm_helper if dsda2 detected
on property:ro.baseband=dsda2
    mkdir /data/misc/mdmhelperdata 0700
    start mdm_helper

on property:ro.baseband=sglte2
    mkdir /data/misc/mdmhelperdata 0700
    start mdm_helper

service usf_tester /system/bin/usf_tester
    user system
    group system inet
    disabled

service usf_epos /system/bin/usf_epos
    user system
    group system inet
    disabled

service usf_gesture /system/bin/usf_gesture
    user system
    group system inet
    disabled

service usf_p2p /system/bin/usf_p2p
    user system
    group system inet
    disabled

service usf_hovering /system/bin/usf_hovering
    user system
    group system inet
    disabled

service usf-post-boot /system/bin/sh /system/etc/usf_post_boot.sh
    class late_start
    user root
    disabled
    oneshot

service set-governor /system/bin/sh /system/etc/set_governor.sh
    class late_start
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start usf-post-boot

on property:init.svc.bootanim=stopped
    start set-governor

service time_daemon /system/bin/time_daemon
   class late_start
   user root
   group root

service wcnss-service /system/bin/wcnss_service
    class late_start
    user system
    group system wifi
    oneshot

service fsckwait /sbin/fsckwait s
   user root
   group root
   disabled
   oneshot
   socket fsckwait stream 0660 root root
