on post-fs-data
    # Permissions for AKM8963 sensor
    chown system system /data/misc/akm_set.txt

service display_cc /system/bin/display_color_calib
    class main
    oneshot
    disable

on boot
    # Enable Wi-Fi EAP SIM
    setprop ro.wifi.eap_sim_enabled true

service wakeup_monitor /system/bin/wakeup_monitor --key power --sensor apds9702 --prx-path="sys/bus/i2c/devices/2-0054" --end --allow pmic8xxx_pwrkey
    class main
    user root
    disabled

on property:persist.service.wakeup_monitor=1
     write /sys/power/wake_lock wakeup_monitor
     start wakeup_monitor

on property:persist.service.wakeup_monitor=0
     stop wakeup_monitor
     write /sys/power/wake_unlock wakeup_monitor
