import init.sony-device.rc

on boot
    # USB gadget initial setup
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/f_rndis/manufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}

    #Configure watchdog threshold value
    write /proc/sys/kernel/watchdog_thresh 5

    # Disable C_A_D
    exec system/bin/ctrlaltdel soft

    

    

    # LM356x/cameralight
    chown system system /sys/bus/i2c/devices/0-0053/torch_enable
    chown system system /sys/bus/i2c/devices/0-0053/torch_current
    chown system system /sys/bus/i2c/devices/0-0053/privacy_enable
    chown system system /sys/bus/i2c/devices/0-0053/privacy_current
    chown system system /sys/bus/i2c/devices/0-0053/flash_enable
    chown system system /sys/bus/i2c/devices/0-0053/flash_duration
    chown system system /sys/bus/i2c/devices/0-0053/flash_synchronization
    chown system system /sys/bus/i2c/devices/0-0053/flash_current
    chown system system /sys/bus/i2c/devices/0-0053/status

    #allow system group to read/modify rdtags
    chown root system /proc/rdtag
    chmod 0664 /proc/rdtag
    chown root system /proc/rdtags
    chmod 0754 /proc/rdtags

    # Do not power down SIM in flight mode (required for Wi-Fi EAP-SIM)
    setprop persist.radio.apm_sim_not_pwdn 1

    # To use non-Google assistance server
    setprop ro.gps.agps_provider customized

    exec /system/bin/cal_data_manager init

service hw_config /system/bin/sh /system/etc/hw_config.sh
    class main
    user root
    oneshot

# Configurate TCP/IP kernel settings
service netconfig /system/bin/sh /system/etc/init.netconfig.sh
    class main
    user root
    oneshot

on init
    # create USB host bus directory here so that libusbhost
    # can start monitoring.
    mkdir /dev/bus 0755 root root
    mkdir /dev/bus/usb 0755 root root

    # USB related initialization
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/f_rndis/vendorID 0fce
    write /sys/class/android_usb/android0/f_rndis/wceis 1

    # Activate subsystem restart phase 3 behavior
    write /sys/module/subsystem_restart/parameters/restart_level 3
    write /sys/module/wcnss_ssr_8960/parameters/enable_riva_ssr 1
    write /sys/module/subsystem_restart/parameters/max_restarts 8
    write /sys/module/subsystem_restart/parameters/max_history_time 3600
    # Enable ramdumps from subsystems
    
    

    # create directory for scd
    mkdir /dev/socket/scd 0755 system system

on property:sys.usb.config=mass_storage
   exec /init.usbmode.sh
   stop adbd
   setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb
   exec /init.usbmode.sh
   start adbd
   setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp
   exec /init.usbmode.sh
   stop adbd
   setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
   exec /init.usbmode.sh
   start adbd
   setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,cdrom
   exec /init.usbmode.sh
   stop adbd
   write /sys/class/android_usb/android0/f_mass_storage/lun/file /system/etc/dop.iso
   setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,cdrom,adb
   exec /init.usbmode.sh
   stop adbd
   write /sys/class/android_usb/android0/f_mass_storage/lun/file /system/etc/dop.iso
   setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis
   exec /init.usbmode.sh
   stop adbd
   setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb
   exec /init.usbmode.sh
   start adbd
   setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ncm
   exec /init.usbmode.sh
   stop adbd
   setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ncm,adb
   exec /init.usbmode.sh
   start adbd
   setprop sys.usb.state ${sys.usb.config}

on property:gsm.nitz.time=*
    exec /system/bin/scdnotifier nitz







service illumination /system/bin/illumination_service
    socket illumination stream 0666 root system
    class core
    user root

service scd /system/bin/scd
    class main
    user system
    group system



# Regulatory domain handling
service iw_command /system/bin/iw
   disabled
   oneshot

on post-fs

    chown system system /sys/devices/platform/msm_hsusb/gadget/lun1/file
    chmod 0660 /sys/devices/platform/msm_hsusb/gadget/lun1/file
    write /sys/class/android_usb/f_mass_storage/inquiry_string "SONY    Mass Storage    0100"
    write /sys/class/android_usb/f_cdrom/cdrom_inquiry_string "SONY    CD-ROM          0100"
    write /sys/class/android_usb/f_mass_storage/serial_number ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/eui64_id 000AD90000000000
    write /sys/devices/platform/msm_hsusb/gadget/lun0/nofua 1
    write /sys/devices/platform/msm_hsusb/gadget/lun1/nofua 1

on post-fs-data
    # Camera
    mkdir /data/camera 0771 root camera

# Owner for the proximity sensor
    chown system system /sys/devices/i2c-2/2-0054/threshold
    chown system system /sys/devices/i2c-2/2-0054/nburst
# Owner for the light sensor
    chown system system /sys/devices/i2c-0/0-0036/als_enable
    chown system system /sys/devices/i2c-0/0-0036/als_result
# use system_monitor
on init
    symlink /dev/socket /tmp

service dis_msm_therm /system/bin/sh /system/etc/disable_msm_thermal.sh
    class core
    user root
    oneshot

service system_monitor /system/bin/system_monitor
    socket sysmon stream 0660 root system
    class core
    user root

# Start usbeng
service usbeng /system/bin/usbeng
    class late_start
    oneshot





on property:service.calib.start=service_setting
    exec /system/bin/cal_data_manager service_setting

on property:service.acccalib.start=service_setting
    exec /system/bin/acc_cal_data_manager service_setting

# DxHDCP key provisioning
on property:dev.bootcomplete=1
   start dxhdcpd

service dxhdcpd /system/bin/dxhdcpd
   user system
   group system
   oneshot
   disabled



service dhcpcd_eth0 /system/bin/dhcpcd -B -d -t 30
    class late_start
    disabled
    oneshot

