on init
    write /sys/class/android_usb/android0/idVendor 0fce
    write /sys/class/android_usb/android0/idProduct 619b
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/f_mass_storage/serial_number ${ro.serialno}
    write /sys/class/android_usb/f_mass_storage/eui64_id 000AD90000000000
