import /init.original.rc

on init

    mkdir /tmp
    exec /sbin/busybox mount -t tmpfs tmpfs /tmp
    exec /sbin/busybox mount -t sysfs sysfs /sys
    exec /sbin/busybox mount -t proc proc /proc
    exec /sbin/busybox mount -t devtmpfs devtmpfs /dev

    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0FCE
    write /sys/class/android_usb/android0/idProduct D001
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

    # Sony kernel, so lets set SELinux to permissive
    write /sys/fs/selinux/enforce 0

on boot

    # Starting the XZDR fix script before anything else gets started
    start xzdualrecovery

# This kills all filesystem locking applications still in memory.
service xzdualrecovery /sbin/xzdualrecovery.sh
    oneshot
    disabled
